# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary Excel files (Lock files)
~$*
~$*.xlsx
~$*.xls

# Windows shortcuts and local settings
*.lnk
.vscode/
.idea/
Thumbs.db
desktop.ini

# Folder Data / Skrip Lokal
root/

# File Tambahan yang Diabaikan
README.md
README_NP_CLIP.md
README_TRAINING.md